<footer class="page-footer font-small mdb-color lighten-3 pt-4" >

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
                    esse
                    quasi, veritatis totam voluptas nostrum.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">



            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Corbacho Nº 114 - Cercado</p>

                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> decoraciones.joel2@gmail.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +51 959468993</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-print mr-3"></i> +51 948954400</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Siguenos en: </h5>

                <!-- Facebook -->
                <a type="button" class="btn-floating btn-fb"
                    href="https://www.facebook.com/DecoracionesJoel2016/?ref=bookmarks">
                    <img src="https://image.flaticon.com/icons/svg/2111/2111398.svg" width="40" height="40">
                </a>
                <!-- Twitter -->
                <a type="button" class="btn-floating btn-tw"
                    href="https://www.instagram.com/decoraciones.joel/?hl=es-la">
                    <img src="https://image.flaticon.com/icons/svg/2111/2111463.svg" width="40" height="40">
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



</footer>