
<nav class="site-header sticky-top py-2">
    <div class="container d-flex flex-column flex-md-row justify-content-md-between">
        <a class="py-1 " href="/" aria-label="Product">

            <img src="https://i.imgur.com/fWj6DZO.png" width="50" height="50" class="d-block mx-auto">
        </a>
        <!-- <a class="py-3 d-none d-md-inline-block" href="#">Tour</a> -->
        <a class="py-3 d-none d-md-inline-block" href="/decoraciones">Conocemos</a>
        <a class="py-3 d-none d-md-inline-block" href="/articulosPrevencion">Servicios y Productos</a>
        <!-- <a class="py-3 d-none d-md-inline-block" href="#"></a> -->
        <a class="py-3 d-none d-md-inline-block" href="/contactanos">Contactanos</a>
    </div>
</nav>
