<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
    {{> navbar}}
    

    <div class="container mt-5">
    
    
        <!--Section: Content-->
        <section class="dark-grey-text mb-5">
    
            <style>
                .map-container-section {
                    overflow: hidden;
                    padding-bottom: 56.25%;
                    position: relative;
                    height: 0;
                }
    
                .map-container-section iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            </style>
    
            <!-- Section heading -->
            <h3 class="font-weight-bold text-center mb-4">Contactanos</h3>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto pb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
                eum porro a pariatur veniam.</p>
    
            <!-- Grid row -->
            <div class="row" style="justify-content: center;">

    
                <!-- Grid column -->
                <div class="col-lg-7">
    
                    <!--Google map-->
                    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
                        <iframe src="https://maps.google.com/maps?q=Manhatan&t=&z=15&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Buttons-->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </a>
                            <p>Corbacho Nº 114 - Cercado</p>
                            <p class="mb-md-0">Arequipa</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-phone"></i>
                            </a>
                            <p>+51 959468993</p>
                            <p class="mb-md-0">+51 948954400</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <p>decoraciones.joel2@gmail.com</p>

                        </div>
                    </div>
    
                </div>
                <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
        </section>
        <!--Section: Content-->
    
    
    </div>
    
    {{> footer}}
</body>

</html>