<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    {{> navbar}}
    <div class="container mt-5">
        

        <div class="container my-5">
        
            <!--Section: Content-->
            <section class="text-center dark-grey-text mb-5">
        
                <h3 class="font-weight-bold pb-5 text-center">Galeria</h3>
        
                <div class="row">
                    <div class="col-md-12">
        
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-1z" class="carousel slide" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(10).jpg"
                                        alt="First slide">
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(11).jpg"
                                        alt="Second slide">
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                        src="https://mdbootstrap.com/img/Photos/Horizontal/Architecture/12-col/img%20(12).jpg"
                                        alt="Third slide">
                                </div>
                                <!--/Third slide-->
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
        
                    </div>
                </div>
        
            </section>
            <!--Section: Content-->
        
        
        </div>
    
        <!--Section: Content-->
        <section>
    
            <style>
                @media (max-width: 992px) {
                    .news-tile .card-title {
                        font-size: 1.2rem;
                    }
                }
    
                .news-tile .card-title {
                    position: absolute;
                    bottom: 15px;
                    left: 30px;
                    text-align: left;
                }
    
                .news-tile h4 {
                    font-size: 1.2rem;
                }
    
                .news-tile h3 {
                    font-size: 1.6rem;
                }
    
                .rgba-stylish-strong {
                    background-color: rgba(62, 69, 81, .5);
                }
    
                .view:hover {
                    -webkit-filter: brightness(140%);
                    transition: all .4s ease-in-out;
                }
    
                .view {
                    transition: all .4s ease-in-out;
                }
            </style>
    
            <!--Grid row-->
            <div class="row">
    
                <!-- Grid column -->
                <div class="col-lg-8 col-md-12">
    
                    <!--News tile -->
                    <div class="news-tile view zoom z-depth-1 rounded mb-4">
    
                        <a href="#!" class="text-white">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(27).jpg"
                                class="img-fluid rounded-bottom" alt="sample image">
                            <div class="mask rgba-stylish-strong">
                                <div class="text-white text-center py-lg-5 py-0 my-0">
                                    <div>
                                        <h2 class="card-title font-weight-bold pt-2">
                                            <strong>Vista amplia</strong>
                                        </h2>
    
                                        <p class="mx-5 clearfix d-none d-md-block"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
    
                    </div>
                    <!--News tile -->
    
                </div>
                <!-- Grid column -->
    
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12">
    
                    <!--News tile -->
                    <div class="news-tile view zoom z-depth-1 rounded mb-4">
    
                        <a href="#!" class="text-white">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(26).jpg"
                                class="img-fluid rounded-bottom" alt="sample image">
                            <div class="mask rgba-stylish-strong">
                                <div class="text-white text-center py-lg-5 py-0 my-0">
                                    <div>
                                        <h4 class="card-title font-weight-bold pt-2">
                                            <strong>Ciudad</strong>
                                        </h4>
    
                                        <p class="mx-5 clearfix d-none d-md-block"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
    
                    </div>
                    <!--News tile -->
    
                    <!--News tile -->
                    <div class="news-tile view zoom z-depth-1 rounded mb-4">
    
                        <a href="#!" class="text-white">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(25).jpg"
                                class="img-fluid rounded-bottom" alt="sample image">
                            <div class="mask rgba-stylish-strong">
                                <div class="text-white text-center py-lg-5 py-0 my-0">
                                    <div>
                                        <h4 class="card-title font-weight-bold pt-2">
                                            <strong>Puente</strong>
                                        </h4>
    
                                        <p class="mx-5 clearfix d-none d-md-block"></p>
                                    </div>
                                </div>
                            </div>
                        </a>
    
                    </div>
                    <!--News tile -->
    
                </div>
                <!-- Grid column -->
    
            </div>
            <!--Grid row-->
    
        </section>
        <!--Section: Content-->
    
    
    </div>
    {{> footer}}
</body>
</html>