<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>

<body>
    
    {{> navbar}}

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: url(https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            
            <h1 class=" display-4 font-weight-normal">Venta de Productos</h1>
            <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts
                with this example based on Apple’s marketing pages.</p>

        </div>

    </div>


    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">

                <img src="https://images.pexels.com/photos/969593/pexels-photo-969593.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Hello">
                <h2>Decoración Interior</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                    cursus
                    magna.</p>
                <p><a class="btn btn-primary" href="/decoraciones" role="button">Ingresar</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://images.pexels.com/photos/3845127/pexels-photo-3845127.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Hello">
                <h2>Articulos Prevencion</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                    mattis
                    consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                    condimentum
                    nibh.</p>
                <p><a class="btn btn-primary" href="/articulosPrevencion" role="button">Ingresar</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://images.pexels.com/photos/3987147/pexels-photo-3987147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Hello">
                <h2>Servicios</h2>

                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta
                    felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                    fermentum
                    massa justo sit amet risus.</p>
                <p><a class="btn btn-primary" href="" role="button">Ingresar</a></p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>


    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>

</body>

</html>